.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
  .settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .settingsCancel{
      width: 70px;
      height: 40px;
      border: none;
      border-radius: 10px;
      color: white;
      background-color: rgb(185, 182, 182);
    }
  }
  .d-grid{
    justify-items: center;
    .btn {
      width: fit-content;
      width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #f05123;
    }
  }
  
}



.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: #f05123;
}

.settingsDeleteTitle {
  color: #f05123;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #f05123;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}

.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
}
.action-setting{
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  .settingsSubmit{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #f05123;
}

  
}

