.navbarAdmin {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .post-search {
    z-index: 9999;
    position: absolute;
    inset: -12px auto auto 525px;
    margin: 0px;
    transform: translate3d(558.4px, 62.4px, 0px);
    max-width: calc(100vw - 10px);
    animation: Tippy-module_fadeIn__2LeID .3s ease;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 -4px 32px rgba(0, 0, 0, .2);
    color: #1d2129;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    transition: all .3s ease-in-out;
    will-change: opacity, transform;

    .Tippy-module_wrapper__1s5m5 {
      animation: Tippy-module_fadeIn__2LeID .3s ease;
      background: var(--white-color);
      border-radius: 10px;
      box-shadow: 0 -4px 32px rgba(0, 0, 0, .2);
      color: #1d2129;
      margin: 0;
      overflow: hidden;
      padding-left: 0;
      transition: all .3s ease-in-out;
      will-change: opacity, transform;

      .Search_result__l1XFr {
        -ms-scroll-chaining: none;
        color: #0000008a;
        font-size: 1.4rem;
        max-height: calc(90vh - 66px);
        min-height: 50px;
        min-width: 230px;
        overflow-y: auto;
        overscroll-behavior: contain;
        padding: 12px 24px;
        width: 420px;

        .Search_heading__XH96K {
          align-items: center;
          border-bottom: 1px solid rgba(0, 0, 0, .05);
          display: flex;
          justify-content: space-between;
          margin-bottom: 6px;
          padding: 12px 0 12px;

          h5 {
            color: #333;
            font-size: 1.2rem;
            font-weight: 500;
            margin: 0;
          }

          .link {
            font-size: 1.0rem;
          }

        }

        .Search_header__kdHdh {
          align-items: center;
          display: flex;
          padding: 6px 0 0;

          .Search_searchIcon__-23JY {
            background-color: #fff;
            background-image: url(../../../../public/search.svg);
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 10px;
            border-radius: 50%;
            height: 20px;
            opacity: .7;
            transition: opacity .2s ease-in-out;
            width: 20px;
            margin-bottom: 5px;
          }

          span {
            font-size: 15px;
          }
        }

        .Search_searchItem__pVRo4 {
          align-items: center;
          display: flex;
          padding: 6px 0;

          .FallbackAvatar_avatar__gmj3S {
            background: transparent;
            border-radius: 50%;
            font-size: 3.6px;

            img {
              border-radius: 50%;
              height: 12em;
              object-fit: cover;
              width: 12em;
              border-style: none;
            }


          }

          .report-seen {
            width: 20px;

            .span-seen {
              border: none;
              width: 10px;
              height: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 100%;
              background: #f05123;
              // opacity: 0.2;
            }
          }

          span {
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            color: #292929;
            display: -webkit-box;
            font-size: 1.0rem;
            line-height: 1.6;
            margin-left: 12px;
            overflow: hidden;
          }
        }
      }
    }

    .photo {
      border-radius: 50%;
      height: 50px;
      object-fit: cover;
      width: 50px;
    }
  }

  .wrapperAdmin {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: right;

    .searchAdmin {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;
        cursor: pointer;

        .icon {
          font-size: 20px;

        }

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: bold;
          position: absolute;
          top: -5px;
          right: -5px;
        }
      }
    }
  }
}